:root {
  --link-color: #fcab10;
  --bg-color: #dbd5b5;
  --accent-color: #f8333c;
  --element-bg-color: #2b9eb3;
  --font-color: #2f3e46;
}
/* #root */
.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: scroll;
  position: relative;
}

.App::-webkit-scrollbar {
  width: 5px;
  opacity: 0.25;
  color: var(--font-color);
}

.App::-webkit-scrollbar-track:no-button {
  box-shadow: inset 0 0 3px var(--element-bg-color);
  opacity: 0.25;
}

.App::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px var(--font-color);
  border-radius: 5px;
  opacity: 0.25;
}

.App::-webkit-scrollbar-corner {
  display: none;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--element-bg-color);
}

.nav span {
  color: var(--font-color);
}

.nav .link {
  padding: 10px;
  text-decoration: none;
  color: var(--link-color);
}

.container {
  max-width: 80vw;
  height: 95%;
  margin: 0px auto;
}

.container h1 {
  text-align: center;
  color: var(--font-color);
  padding-top: 15px;
}

/* Forms */

form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 220px;
}

label {
  display: flex;
  justify-content: space-between;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: var(--font-color);
  background-color: var(--bg-color);
  margin-left: 5px;
  margin-bottom: 5px;
}

button {
  background-color: var(--element-bg-color);
  color: var(--link-color);
  border-radius: 5px;
}

/* Profile */

.upload {
  text-align: center;
}

.upload p {
  color: var(--font-color);
}

#imgContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#imgContainer .card {
  width: 300px;
  height: 350px;
  border-color: var(--font-color);
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  box-shadow: 2px 2px 4px var(--font-color), 2px 2px 4px var(--font-color),
    2px 2px 4px var(--font-color);
}

.card .delete {
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 1px;
  right: 7px;
  cursor: pointer;
}

.card .img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* Login */

.login,
.signup {
  width: 100%;
}

.login h3,
.signup h3 {
  margin: 0;
  text-align: center;
  color: var(--font-color);
}

.login p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.login .link,
.signup .link {
  text-decoration: none;
  font-weight: 500;
  color: #00137c;
}

/* Register */

.signup form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 220px;
}

.signup p {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-45%, -50%);
}

/* Upload */

.upload p {
  cursor: pointer;
}

/* Footer */

.footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: var(--element-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: var(--link-color);
  padding-left: 10px;
}

.footer a {
  padding-right: 10px;
  text-decoration: none;
  color: var(--link-color);
}
